<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="canoical" href="https://justrollingdevs.com/" />
    <meta name="robots" content="noimageindex" />
    <title>JRDevs :: Web Development and Design</title>
    <meta
      name="description"
      content="JustRollingDevs provides fast, responsive and intuitive Website Development and Design. Also offers website setup and deployment, website's content management, SEO, maintaining and others"
    />
  </head>

  <body>
    <div class="container">
      <div id="canvas">
        <canvas></canvas>
        <header id="navbar">
          <a href="https://justrollingdevs.com/" class="logo-link"
            >JustRollingDevs</a
          >
          <nav>
            <ul>
              <li>
                <a href="#about" class="nav-link fade-on-mobile">About</a>
              </li>
              <li>
                <a href="#pricing" class="nav-link fade-on-mobile">Pricing</a>
              </li>
              <li>
                <a href="#contact" class="nav-link fade-on-mobile">Contact</a>
              </li>
              <li>
                <a
                  href="javascript:;"
                  class="nav-link blogs not-finished"
                  title="Coming Up Soon"
                  >Blogs</a
                >
              </li>
              <li>
                <a
                  href="javascript:;"
                  class="nav-link ongoing-projects not-finished"
                  title="Coming Up Soon"
                  >Ongoing Project</a
                >
              </li>
            </ul>
          </nav>
        </header>
        <!-- Content Summary -->
        <section id="summary">
          <div class="content">
            <span>- Who are we?</span>
            <p>We are the ones who makes your website.</p>
            <span>- How do we make our work?</span>
            <p>Well, ...it just works.</p>
            <span>- But, How it works?</span>
            <p>It's JustRolling.</p>
          </div>
        </section>
      </div>
    </div>
    <!-- Projects  -->
    <section id="about">
      <div class="summary">
        <h2>
          We like to turn ideas into
          <span>Fast, Responsive and Intuitive</span> websites. Using
          <span>Reliable and Maintainable</span> technologies
        </h2>
      </div>
      <div class="projects-list">
        <h3>Our Projects:</h3>
        <h2>Our Website - Main project</h2>
        <div class="main-project">
          <div class="phase">
            <div class="phase-visual">
              <a href="https://justrollingdevs.com" title="click to visit"
                ><img
                  src="images/phase1.png"
                  alt="phase1 of a justrollingdevs website done with: SCSS, Three.JS, Node.JS and Express.JS."
              /></a>
            </div>
            <div class="phase-content">
              <h3>Phase 1</h3>
              <p>Using SASS, Three.js and Node.js</p>
              <p>Main Base, styling, animation,..., etc</p>
              <a
                href="https://github.com/JustRollingDevs/JustRollingDevs"
                target="_blank"
                rel="noopener noreferrer"
                >GitHub</a
              >
            </div>
          </div>
          <div class="phase not-finished-project" title="Coming Up Soon">
            <div class="phase-visual"></div>
            <div class="phase-content">
              <h3>Phase 2</h3>
              <p>Using VueJS and MongoDB</p>
              <p>Adding project's status dashboard</p>
              <p><a href="javascript:;">GitHub</a> | Coming Up Soon</p>
            </div>
          </div>
          <div class="phase not-finished-project" title="Coming Up Soon">
            <div class="phase-visual"></div>
            <div class="phase-content">
              <h3>Phase 3</h3>
              <p>Using VueJS</p>
              <p>Adding Blogs, FAQ,..,etc</p>
              <p><a href="javascript:;">GitHub</a> | Coming Up Soon</p>
            </div>
          </div>
        </div>
        <h3>Other projects</h3>
        <div class="other-project">
          <div class="project-item">
            <div class="visual">
              <a
                href="https://justrollingdevs.github.io/Adventure-site/"
                target="_blank"
                rel="noopener noreferrer"
                title="Click to Visit"
                ><img
                  src="images/adventure-site.png"
                  alt="Full responsive Adventure-site that is done with html, css and JS"
              /></a>
            </div>
            <div class="content">
              <h3>Adventure Site</h3>
              <p>
                <a
                  href="https://github.com/JustRollingDevs/Adventure-site"
                  target="_blank"
                  rel="noopener noreferrer"
                  >GitHub</a
                >
                | Landing page
              </p>
            </div>
          </div>
          <div class="project-item">
            <div class="visual">
              <a
                href="https://mysterious-springs-59324.herokuapp.com/"
                target="_blank"
                rel="noopener noreferrer"
                title="Click to Visit"
                ><img
                  src="images/jr-blog.png"
                  alt="JR-Blog that is done with html and css for Front-End and Node.JS, Express.JS and MongoDB "
              /></a>
            </div>
            <div class="content">
              <h3>JR-Blog</h3>
              <p>
                <a
                  href="https://github.com/JustRollingDevs/JustRolling-Blogs"
                  target="_blank"
                  rel="noopener noreferrer"
                  >GitHub</a
                >
                | Write & Show Blogs
              </p>
            </div>
          </div>
          <div class="project-item not-finished-project">
            <div class="visual"></div>
            <div class="content">
              <h3>3rd Project</h3>
              <p><a href="javascript:;">GitHub</a> | Coming Up Soon</p>
            </div>
          </div>
          <div class="project-item not-finished-project">
            <div class="visual"></div>
            <div class="content">
              <h3>4th Project</h3>
              <p><a href="javascript:;">GitHub</a> | Coming Up Soon</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Average Pricing -->
    <section id="pricing">
      <h2>Average Pricing foreach service</h2>
      <div class="avg-details">
        <div class="services-card building">
          <h1 title="Front-end, Back-end and Design">
            Website Building & Designing
          </h1>
          <span class="description"
            >the look of your website and how it works</span
          >
          <ul>
            <li><span>Fast:</span> fast load times and lag free interaction</li>
            <li>
              <span>Responsive:</span> works well with any device. and tested on
              multible browsers
            </li>
            <li>
              <span>Intuitive:</span> easy to use with no overload on users
            </li>
          </ul>
          <span class="price">$500 - $2000</span>
          <span class="sale" title="40% Sale">-40%</span>
        </div>
        <div class="services-card setup">
          <h2>Setup</h2>
          <p>
            <span class="description"
              >getting your website on the internet</span
            >
          </p>
          <p class="features">
            Hosting, Domain, SSL Certificate and Deployment <br />
            (one time paid)
          </p>
          <p><span class="price">$50 - $200</span></p>
        </div>
        <div class="services-card content-manegement">
          <h2>Content Management</h2>
          <span class="description"
            >what is shown in your website: images, texts and on. and train you
            to manage it</span
          >
          <p class="features"></p>
          <span class="price">$200 - $700</span>
        </div>
        <div class="services-card seo">
          <h2>SEO</h2>
          <span class="description"
            >make it easy to users to find your website and rank higher in
            search engines</span
          >
          <span class="price">$40 - $90</span>
        </div>
        <div class="services-card maintaining">
          <h2>Maintaining</h2>
          <span class="description"
            >maintaining the website preformance and fixing Reoccurring errors
            <br />(paid monthly)</span
          >
          <span class="price">$45 - $90</span>
        </div>
      </div>
    </section>
    <!-- Contact -->
    <section id="contact">
      <h2>You can contact us</h2>
      <form method="POST" action="send" name="contact" id="contact">
        <div class="cont-container">
          <div class="cont-details">
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              required
              minlength="5"
              maxlength="15"
            />
            <label for="email">E-mail:</label>
            <input
              type="text"
              id="email"
              name="email"
              required
              minlength="15"
              maxlength="50"
            />
          </div>
          <div class="cont-message">
            <label for="message">Message:</label>
            <textarea
              id="message"
              name="message"
              required
              minlength="15"
              maxlength="750"
            ></textarea>
          </div>
          <div class="cont-services">
            <h2 title="what you want to talk about">Subject:</h2>
            <ul class="contact-checkbox">
              <li>
                <input
                  type="checkbox"
                  id="building"
                  name="subject"
                  value="Building"
                  checked
                /><label for="building">Design & Building</label>
              </li>
              <li>
                <input
                  type="checkbox"
                  id="setup"
                  name="subject"
                  value="Setup"
                /><label for="setup" title="Hosting, Domain, Deployment"
                  >Setup</label
                >
              </li>
              <li>
                <input
                  type="checkbox"
                  id="seo"
                  name="subject"
                  value="SEO"
                /><label for="seo">SEO</label>
              </li>
              <li>
                <input
                  type="checkbox"
                  id="content-manegement"
                  name="subject"
                  value="Content-Management"
                /><label for="content-manegement">Content Manegement</label>
              </li>
              <li>
                <input
                  type="checkbox"
                  id="maintaining"
                  name="subject"
                  value="Maintaining"
                /><label for="maintaining">Maintaining</label>
              </li>
              <li>
                <input
                  type="checkbox"
                  id="other"
                  name="subject"
                  value="other"
                /><label for="other" title="Partnership, Career,...,etc"
                  >other</label
                >
              </li>
            </ul>
          </div>
          <button type="submit" value="Submit">Submit</button>
        </div>
      </form>
    </section>
    <footer id="footer">
      <p class="copyright">
        © Copyright 2020
        <a href="https://justrollingdevs.com/">JustRollingDevs</a>
      </p>
      <ul>
        <li><a href="javascript:;" title="in production">FAQ</a></li>
        <li><a href="javascript:;" title="in production">Partners</a></li>
        <li><a href="javascript:;" title="in production">Career</a></li>
      </ul>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r127/three.min.js"
      integrity="sha512-U4J4PbEJ2TMjFqPUSiKq7LLTHuEkPZVo0jl2fomi9pT7UAExh4xVi8KmoR7EfmyigH95aA68zpW7y3XzuoSurQ=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r127/three.module.min.js"
      integrity="sha512-2oS+EX3fOxEoqj7mElt7OwqgzKhCUFezRHWCpqf12bLUha3nxq/cjv6VBp1E5w7979zMPAEbHhbZSGDwuFLTAg=="
      crossorigin="anonymous"
    ></script>
    <script src="script/three.js"></script>
  </body>
</html>
